<div class="form-dream">
  <div class="well">
     <div class="panel panel-default form-content">
        <div class="panel-heading"><i class="fa fa-chart-pie"></i><%= I18n.t("dream.new.title") %></div>
        <div class="panel-body ">
          <div class="dreams-explanations alert alert-info">
            <p><%= I18n.t("dream.new.explanation_1") %></p>
          </div>
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>