.dataTables_wrapper{
  label {
    color: white;
  }

  .dataTables_info{
    color: white;
  }

  select{
    color: black;
  }

  input{
    color: black;
  }

  a.paginate_button {
    color: white;
  }
}